@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .navbar-brand {
        max-width: 15%;
    }
}