@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .navbar-brand {
        max-width: 15%;
    }
}


.hand {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 200px);
    grid-gap: 10px;
    place-items: center;
    width: 80%;
    margin: 20px auto;

    li {
        width: 100%;
        overflow: hidden;
        text-align: center;
        height: 100%;
    }
}

.uno-card {
    height: 100%;
    min-height: 200px;
    align-content: center;
    font-weight: bolder;
    font-size: 40px;
    max-width: 150px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;


    &.red {
        background: red;
        color: white;
    }

    &.blue {
        background: blue;
        color: white;
    }

    &.yellow {
        background: yellow;
        color: black;
    }

    &.green {
        background: green;
        color: white;
    }

    &.special:not(.green, .yellow, .blue, .red) {
        background: black;
        color: white;
    }

    &.hide{
        background: black;
    }
}